<% content_for(:title) { t('.heading') } %>

<div class="form-container">
  <h1 class="heading"><%= t('.heading') %></h1>
  <%= form_with(model: [@user, @collection]) do |f| %>
    <div class="mb-6">
      <div class="mb-4">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: true %>
      </div>
      <div>
        <%= f.label :recipes %>
        <%= f.collection_select :recipe_ids, @recipes, :id, :title, {}, multiple: true %>
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <%= f.submit class: "button button--primary button--xl sm:mr-2" %>
      <%= link_to t('.link_cancel'), user_path(current_user.username), class: "mt-2 sm:mt-0 button button--secondary" %>
    </div>
  <% end %>
</div>
