<% content_for :meta_title, "#{@collection.title.titleize} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Recipe collection: #{@collection.title}" %>
<% content_for :meta_image, cl_image_path(@collection.recipes.first&.photo.key, width: 1200, quality: "auto", crop: "fill") if @collection.recipes.first&.photo&.attached? %>

<% content_for(:title) { @collection.title.titleize } %>

<% if @collection.recipes.any? %>
  <% if user_signed_in? && (current_user.owner_of?(@collection) || current_user.admin?) %>
    <div class="flex items-baseline justify-between">
      <h1 class="heading"><%= @collection.title.titleize %></h1>
      <% if @collection.status_private? %>
        <%= link_to t('.button_make_public'), user_collection_status_path(current_user.name, @collection),
          method: :put, class: "button button--primary button--sm ml-4" %>
      <% else %>
        <%= link_to t('.button_make_private'), user_collection_status_path(current_user.name, @collection),
          method: :put, class: "button button--primary button--sm ml-4" %>
      <% end %>
  </div>
    <div class="mb-4">
      <%= link_to edit_user_collection_path(current_user.username, @collection),
        class: "inline-flex items-baseline mr-2" do %>
        <i class="fal fa-pencil mr-2 text-sea-400"></i>
        <span class="text-sand-500 hover:text-sand-400 underline"><%= t('.link_edit') %></span>
      <% end %>
      <%= link_to user_collection_path(current_user.username, @collection), method: :delete,
        data: { confirm: "Are you sure you want to delete the collection #{@collection.title}?" },
        class: "inline-flex items-baseline" do %>
        <i class="fal fa-trash-alt mr-2 text-sea-400"></i>
        <span class="text-sand-500 hover:text-sand-400 underline"><%= t('.link_delete') %></span>
      <% end %>
    </div>
  <% else %>
    <h1 class="heading"><%= @collection.title.titleize %></h1>
  <% end %>
  <ul class="mb-4">
    <% @collection.recipes.each do |recipe| %>
      <li class="py-1 first:pt-0 last:pb-0">
        <%= link_to recipe.title, recipe_path(recipe), class: "mr-1 text-sea-800 hover:text-sea-300 hover:underline" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-sm font-semibold">
    <%= t('.text_include_recipes_html',
      href: link_to(t('.text_include_recipes_href'), edit_user_collection_path(current_user.username, @collection),
      class: "text-sea-800 hover:text-sea-300 underline")) %>
  </p>
<% end %>

<% if user_signed_in? && (current_user.owner_of?(@collection) || current_user.admin?) %>
  <div class="mt-6 flex flex-col sm:flex-row">
    <% if @collection.status_private? %>
      <%= link_to t('.button_make_public'), user_collection_status_path(current_user.name, @collection), method: :put,
          class: "button button--primary sm:mr-2" %>
    <% else %>
      <%= link_to t('.button_make_private'), user_collection_status_path(current_user.name, @collection), method: :put,
          class: "button button--primary sm:mr-2" %>
    <% end %>
    <%= link_to t('.button_edit'), edit_user_collection_path(current_user.name, @collection),
        class: "button button--secondary mt-2 sm:mt-0" %>
  </div>
<% end %>
