<h1 class="heading"><%= t('.profile') %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
                                          html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if @user.photo.attached? %>
    <div class="mb-4">
      <%= cl_image_tag @user.photo.key, width: 320, quality: "auto", crop: "fill", class: "w-20 h-20 mr-6 rounded-full object-cover object-center" %>
    </div>
    <div class="mb-4">
      <%= f.label :change_photo %>
      <%= f.file_field :photo, as: :file %>
    </div>
  <% else %>
    <div class="mb-4">
      <%= f.label :photo %>
      <%= f.file_field :photo, as: :file %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="mb-4">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="mb-4">
    <%= f.label :website %>
    <%= f.text_field :website, autofocus: true %>
  </div>

  <div class="mb-4">
    <%= f.label :bio %>
    <%= f.text_area :bio, autofocus: true %>
  </div>

  <div class="mb-4">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-4">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="mb-6">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="flex mb-4">
    <%= f.submit "Update", class: "button button--primary mr-2" %>
    <%= link_to "Cancel", dashboard_path, class: "button button--secondary" %>
  </div>
<% end %>

<%= button_to "Cancel my account", registration_path(resource_name),
    data: { confirm: "Are you sure?" }, method: :delete,
    class: "bg-white text-sea-800 hover:text-sea-300" %>
