<%= form_with model: @recipe, class: "form" do |f| %>
  <div class="form__main">
    <!-- Recipe Details -->
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>

    <!-- Ingredients -->
    <h2 class="subheading"><%= t('.subheading_measures') %></h2>

    <div data-controller="new-fields">
      <template data-target="new-fields.template">
        <%= f.fields_for :measures, Measure.new, child_index: 'NEW_RECORD' do |measure| %>
          <%= render "measure_fields", f: measure %>
        <% end %>
      </template>

      <div data-target="new-fields.fieldsContainer">
        <div data-controller="sortable" data-sortable-url="/recipes/:recipe_id/measures/:id/measure_position">
          <%= f.fields_for :measures, @recipe.measures.order(position: :asc), include_id: false do |measure| %>
            <%= render "measure_fields", f: measure %>
          <% end %>
        </div>

        <% @new_measures.to_i.times do |index| %>
          <%= f.fields_for :measures, Measure.new, child_index: Time.current.to_i + index do |measureField| %>
            <%= render "measure_fields", f: measureField %>
          <% end %>
        <% end %>
      </div>

      <button type="button" data-action="new-fields#addNewField">Add an ingredient</button>
    </div>

    <!-- Directions -->
    <h2 class="subheading"><%= t('.subheading_steps') %></h2>
    <div data-controller="new-fields">
      <template data-target="new-fields.template">
        <%= f.fields_for :steps, Step.new, child_index: 'NEW_RECORD' do |step| %>
          <%= render "step_fields", f: step %>
        <% end %>
      </template>

      <div data-target="new-fields.fieldsContainer">
        <div data-controller="sortable" data-sortable-url="/recipes/:recipe_id/steps/:id/step_position">
          <%= f.fields_for :steps, @recipe.steps.ordered, include_id: false do |step| %>
            <%= render "step_fields", f: step %>
          <% end %>
        </div>

        <% @new_steps.to_i.times do |index| %>
          <%= f.fields_for :steps, Step.new, child_index: Time.current.to_i + index do |stepField| %>
            <%= render "step_fields", f: stepField %>
          <% end %>
        <% end %>
      </div>

      <button type="button" data-action="new-fields#addNewField">Add a step</button>
    </div>
  </div>

  <%= f.submit %>
<% end %>
