<%= form_with model: @recipe do |f| %>
  <div class="form-grid">
    <% if @recipe.persisted? %>
      <div class="mb-4">
        <%= f.collection_radio_buttons(:status, human_attribute_status, :first, :second) do |b| %>
          <%= b.label(class: "inline-flex items-center mr-2 text-base") { b.radio_button(class: "mr-1") + b.text } %>
        <% end %>
      </div>
    <% end %>

    <!-- Recipe Details -->
    <div class="mb-6">
      <div class="mb-4">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: true %>
      </div>
      <% if @recipe.photo.attached? %>
        <div class="mb-4">
          <%= f.label :photo %>
          <%= cl_image_tag @recipe.photo.key, height: 400, crop: "fill" %>
        </div>
        <div class="mb-4">
          <%= f.label :photo_update %>
          <%= f.file_field :photo, as: :file %>
        </div>
      <% else %>
        <div class="mb-4">
          <%= f.label :photo %>
          <%= f.file_field :photo, as: :file %>
        </div>
      <% end %>
      <div class="mb-4">
        <%= f.label :intro %>
        <%= f.text_area :intro, placeholder: true %>
      </div>
      <div class="mb-4">
        <%= f.label :source %>
        <%= f.text_field :source, placeholder: true %>
      </div>
      <div>
        <%= f.label :yield %>
        <div class="inline-flex">
          <%= f.collection_select :yield_type, human_attribute_yield_types, :first, :second %>
          <%= f.number_field :yield, class: "ml-4", min: "1", placeholder: true %>
        </div>
      </div>
    </div>

    <!-- Ingredients -->
    <h2 class="subheading subheading--lg"><%= t('.subheading_ingredients') %></h2>
    <div class="mb-6" data-controller="new-fields">
      <template data-target="new-fields.template">
        <%= f.fields_for :measures, Measure.new, child_index: 'NEW_RECORD' do |measure| %>
          <%= render "measure_fields", f: measure %>
        <% end %>
      </template>
      <div class="mb-4" data-target="new-fields.fieldsContainer" data-controller="sortable"
                        data-sortable-url="/recipes/:recipe_id/measures/:id/measure_position">
        <%= f.fields_for :measures, @recipe.measures.order(position: :asc),
                                    include_id: false do |measure| %>
          <%= render "measure_fields", f: measure %>
        <% end %>
        <% @new_measures.to_i.times do |index| %>
          <%= f.fields_for :measures, Measure.new,
                                      child_index: Time.current.to_i + index do |measureField| %>
            <%= render "measure_fields", f: measureField %>
          <% end %>
        <% end %>
      </div>

      <button type="button" data-action="new-fields#addNewField"
                            class="text-sea-800 hover:text-sea-300 underline">
        <%= t('.link_add_ingredient') %>
      </button>
    </div>

    <!-- Directions -->
    <h2 class="subheading subheading--lg"><%= t('.subheading_steps') %></h2>
    <div class="mb-6" data-controller="new-fields">
      <template data-target="new-fields.template">
        <%= f.fields_for :steps, Step.new, child_index: 'NEW_RECORD' do |step| %>
          <%= render "step_fields", f: step %>
        <% end %>
      </template>
      <div class="mb-4" data-target="new-fields.fieldsContainer" data-controller="sortable"
                        data-sortable-url="/recipes/:recipe_id/steps/:id/step_position">
        <%= f.fields_for :steps, @recipe.steps.ordered, include_id: false do |step| %>
          <%= render "step_fields", f: step %>
        <% end %>

        <% @new_steps.to_i.times do |index| %>
          <%= f.fields_for :steps, Step.new, child_index: Time.current.to_i + index do |stepField| %>
            <%= render "step_fields", f: stepField %>
          <% end %>
        <% end %>
      </div>
      <button type="button" data-action="new-fields#addNewField"
                            class="text-sea-800 hover:text-sea-300 underline">
        <%= t('.link_add_step') %>
      </button>
    </div>

    <!-- Recipe Notes -->
    <h2 class="subheading subheading--lg"><%= t('.subheading_notes') %></h2>
    <div class="mb-6">
      <div class="mb-4">
        <%= f.text_area :notes, placeholder: true %>
      </div>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row">
    <%= f.submit class: "button button--primary button--xl sm:mr-2" %>
    <%= link_to t('.link_cancel'), user_path(current_user.username), class: "mt-2 sm:mt-0 button button--secondary" %>
  </div>
<% end %>
