<%= content_tag :div, data: { new_record: f.object.new_record?, id: f.object.id },
                      class: "nested-fields flex mb-4" do %>
  <div class="flex">
    <div class="mr-4">
      <%= f.hidden_field :id %>
      <%= f.label :quantity %>
      <%= f.text_field :quantity, placeholder: true %>
    </div>

    <div class="mr-4">
      <%= f.hidden_field :id %>
      <%= f.label :unit %>
      <%= f.collection_select :unit, Unit.all, :value, :to_s,
            { include_blank: true, selected: ->(u) { u == f.object.unit }} %>
    </div>

    <div class="mr-4">
      <%= f.hidden_field :id %>
      <%= f.label :ingredient %>
      <%= f.text_field :ingredient, placeholder: true %>
    </div>

    <div class="mr-4">
      <%= f.hidden_field :id %>
      <%= f.label :prep_method %>
      <%= f.text_field :prep_method, placeholder: true %>
    </div>
  </div>

  <%= link_to t('.link_delete'), "#", data: { action: "click->new-fields#removeField" },
                                      class: "self-end block text-sm text-sand-500 text-right
                                              hover:text-sand-400 hover:underline" %>
  <%= f.hidden_field :_destroy %>
<% end %>
