<%= content_tag :div, class: "nested-fields flex", data: { new_record: f.object.new_record?, id: f.object.id } do %>
  <div class="mr-4">
    <%= f.hidden_field :id %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="mr-4">
    <%= f.hidden_field :id %>
    <%= f.label :unit %>
    <%= f.collection_select :unit_id, Unit.all.alphabetize, :id, :name, { include_blank: true } %>
  </div>

  <div class="mr-4">
    <%= f.hidden_field :id %>
    <%= f.label :ingredient %>
    <%= f.text_field :ingredient %>
  </div>

  <small><%= link_to "Delete", "#", data: { action: "click->new-fields#removeField" } %></small>
  <%= f.hidden_field :_destroy %>
<% end %>
