<h1 class="heading"><%= @recipe.title.titleize %></h1>

<div class="mb-6">
  <% if current_user&.admin? %>
    <div class="mb-1">
      <%= link_to t('.link_edit'), edit_recipe_path(@recipe), class: "text-sand-500 hover:text-sand-400" %>
      <span class="text-stone-200">&#124</span>
      <%= link_to t('.link_delete'), recipe_path(@recipe), method: :delete, class: "text-sand-500 hover:text-sand-400" %>
    </div>
  <% end %>
  <%= link_to t('.source_recipe'), @recipe.source, target: "_blank" if @recipe.source.present? %>
</div>

<!-- Image -->
<% if @recipe.photo.attached? %>
  <div class="mb-6">
    <picture>
      <%= cl_image_tag @recipe.photo.key, height: 800, width: 1200, crop: :fill %>
    </picture>
  </div>
<% end %>

<!-- Intro -->
<% if @recipe.intro.present? %>
  <div class="mb-6">
    <div class="pb-6">
      <p><%= @recipe.intro %></p>
    </div>
    <hr />
  </div>
<% end %>

<!-- Ingredients -->
<div class="mb-4">
  <h2 class="subheading"><%= t('.subheading_measures') %></h2>
  <ul>
    <% @recipe.measures.order(position: :asc).each do |measure| %>
      <li data-id="<%= measure.id %>" class="py-0.5 last:pb-0">
        <%= measure %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Directions -->
<div class="mb-4">
  <h2 class="subheading"><%= t('.subheading_steps') %></h2>
  <ol class="steps">
    <% @recipe.steps.ordered.each do |step| %>
      <li class="py-1 last:pb-0">
        <%= "#{step.position}." %>
        <span><%= step.description %></span>
      </li>
    <% end %>
  </ol>
</div>

<!-- Recipe Notes -->
<% if @recipe.notes.present? %>
  <div class="mb-4">
    <h2 class="subheading"><%= t('.subheading_notes') %></h2>
    <p><%= @recipe.notes %></p>
  </div>
<% end %>
