<h1 class="heading"><%= @recipe.title.titleize %></h1>

<div class="mb-4">
  <% if current_user&.admin? %>
    <%= link_to t('.link_edit'), edit_recipe_path(@recipe)  %>
    <%= link_to t('.link_delete'), recipe_path(@recipe), method: :delete, class: "inline-block mb-1" %>
  <% end %>
  <%= link_to t('.link_recipe'), @recipe.link, target: "_blank", class: "block" if @recipe.link.present? %>
</div>

<!-- Ingredients -->
<div class="mb-4">
  <h2 class="subheading"><%= t('.subheading_measures') %></h2>
  <ul>
    <% @recipe.measures.order(position: :asc).each do |measure| %>
      <li data-id="<%= measure.id %>">
        <%= measure %>
      </li>
    <% end %>
  </ul>
</div>

<!-- Directions -->
<div class="mb-4">
  <h2 class="subheading"><%= t('.subheading_steps') %></h2>
  <ol>
    <% @recipe.steps.ordered.each do |step| %>
      <li>
        <%= "#{step.position}." %>
        <%= step.description %>
      </li>
    <% end %>
  </ol>
</div>
