<h1 class="page-title"><%= @recipe.title %></h1>

<div class="mb-6">
  <div class="mb-4">
    <h2 class="subheading">Ingredients</h2>
    <ul>
      <% @recipe.measures.each do |measure| %>
        <li>
          <%= measure.quantity %>
          <%= measure.unit.name.pluralize(measure.quantity.ceil) if measure.unit %>
          <%= measure.ingredient.name.pluralize(measure.quantity.ceil) %>
          <%= link_to "delete", measure_path(measure), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Add a measure", new_recipe_measure_path(@recipe) %>
</div>

<div>
  <div class="mb-4">
    <h2 class="subheading">Steps</h2>
    <ol>
      <% @recipe.steps.each do |step| %>
        <li>
          <%= "#{step.position}." %>
          <%= step.description %>
          <%= link_to "delete", step_path(step), method: :delete %>
      </ li>
    <% end %>
    </ol>
  </div>
  <%= link_to "Add recipe step", new_recipe_step_path(@recipe) %>
</div>
