<h1 class="heading"><%= @recipe.title.titleize %></h1>

<div class="mb-6">
  <div class="mb-4">
    <%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "block mb-1" if current_user&.admin? %>
    <%= link_to t('.link_recipe'), @recipe.link, target: "_blank" if @recipe.link.present? %>
  </div>
  <div class="mb-4">
    <h2 class="subheading"><%= t('.subheading_ingredients') %></h2>
    <ul data-controller="sortable" data-sortable-url="/recipes/:recipe_id/measures/:id/measure_position">
      <% @recipe.measures.order(position: :asc).each do |measure| %>
        <li data-id="<%= measure.id %>">
          <%= measure %>
          <%= link_to t('.link_delete'), measure_path(measure), method: :delete if current_user&.admin? %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to t('.link_ingredient'), new_recipe_measure_path(@recipe) if current_user&.admin? %>
</div>

<div class="mb-4">
  <h2 class="subheading"><%= t('.subheading_steps') %></h2>
  <ol>
    <% @recipe.steps.order(position: :asc).each do |step| %>
      <li>
        <%= "#{step.position}." %>
        <%= step.description %>
      </li>
    <% end %>
  </ol>
</div>
