<h1 class="page-title"><%= @recipe.title %></h1>

<div class="mb-6">
  <div class="mb-4">
    <%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "block mb-1" if current_user&.admin? %>
    <%= link_to "Link", @recipe.link, target: "_blank" if @recipe.link %>
  </div>
  <div class="mb-4">
    <h2 class="subheading">Ingredients</h2>
    <ul data-controller="sortable" data-sortable-url="/recipes/:recipe_id/measures/:id/measure_position">
      <% @recipe.measures.order(position: :asc).each do |measure| %>
        <li data-id="<%= measure.id %>">
          <%= measure %>
          <%= link_to "delete", measure_path(measure), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "Add an ingredient", new_recipe_measure_path(@recipe) %>
</div>
<div>
  <div class="mb-4">
    <h2 class="subheading">Instructions</h2>
    <ol data-controller="sortable" data-sortable-url="/recipes/:recipe_id/steps/:id/step_position">
      <% @recipe.steps.order(position: :asc).each do |step| %>
        <li data-id="<%= step.id %>">
          <%= "#{step.position}." %>
          <%= step.description %>
          <%= link_to "delete", step_path(step), method: :delete if current_user&.admin? %>
        </li>
      <% end %>
    </ol>
  </div>
  <%= link_to "Add a step", new_recipe_step_path(@recipe) if current_user&.admin? %>
</div>
