<% content_for :meta_title, "Recipe collection from #{@user.name.titleize} on #{DEFAULT_META["meta_product_name"]}" %>

<% content_for(:title) { @user.name.titleize } %>

<div class="flex mb-6">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, width: 320, quality: "auto", crop: "fill", class: "w-20 h-20 mr-6 rounded-full object-cover object-center" %>
  <% end %>
  <div>
    <h1 class="heading mb-1"><%= @user.name.titleize %></h1>
    <div class="mb-6">
      <% if @user.bio.present? %>
        <p class="font-medium"><%= @user.bio %></p>
      <% end %>
      <%= link_to url_without_protocol(@user.website), url_with_protocol(@user.website), target: "_blank", class: "text-sea-800 hover:text-sea-300" if @user.website.present? %>
    </div>
  </div>
</div>

<ul class="card-grid">
  <% if all_with_images_attached?(@recipes) %>
    <%= render partial: "recipes/recipe_with_photo", collection: @recipes, as: :recipe %>
  <% else %>
    <%= render @recipes %>
  <% end %>
</ul>
