<nav class="border-b border-sand-100">
  <div class="mx-auto px-4 sm:px-12 lg:px-16">
    <div class="flex items-center justify-between h-16 sm:h-20">
      <%= link_to root_path, class: "flex items-center h-full" do %>
        <%= render "shared/logo", style: "h-12 sm:h-16 text-sea-800 fill-current" %>
      <% end %>
      <div class="flex items-center">
        <% if user_signed_in? %>
          <%= link_to t('.link_new_recipe'), new_recipe_path, class: "button button--white button--navbar ml-4 mr-2 sm:mr-4" %>
          <%= link_to t('.link_dashboard'), dashboard_path, class: "text-sm sm:text-base text-sea-800 hover:text-sea-300" %>
        <% else %>
          <%= link_to t('.link_sign_up'), new_user_registration_path, class: "button button--primary button--navbar ml-4 mr-2" %>
          <%= link_to t('.link_log_in'), new_user_session_path, class: "button button--white button--navbar" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
