<h1 class="heading"><%= t('.heading') %></h1>

<div class="mb-6">
  <%= link_to t('.link_logout'), destroy_user_session_path, method: :delete %>
</div>

<div class="mb-6">
  <h2 class="subheading"><%= t('.subheading_units') %></h2>
  <ul class="mb-4">
    <% @units.each do |unit| %>
      <li>
        <%= unit.name %>
        <%= link_to t('.link_delete'), unit_path(unit), method: :delete %>
      </li>
    <% end %>
  </ul>
  <%= link_to t('.link_unit'), new_unit_path %>
</div>

<div class="mb-6">
  <h2 class="subheading"><%= t('.subheading_recipes') %></h2>
  <ul class="mb-4">
    <% @recipes.each do |recipe| %>
      <li>
        <%= recipe.title %>
        <%= link_to t('.link_delete'), recipe_path(recipe), method: :delete %>
      </li>
    <% end %>
  </ul>
</div>
