<div class="flex justify-between">
  <h1 class="heading"><%= t('.heading') %></h1>

  <div>
    <%= link_to t('.link_edit_profile'), edit_user_registration_path,
      class: "text-sand-400 text-right hover:text-sand-500" %>
    <span class="text-stone-200">&#124</span>
    <%= link_to t('.link_logout'), destroy_user_session_path, method: :delete,
      class: "text-sand-400 text-right hover:text-sand-500" %>
  </div>
</div>

<div class="mb-6">
  <h2 class="subheading"><%= t('.subheading_recipes') %></h2>
  <ul class="mb-4">
    <% @recipes.each do |recipe| %>
      <li class="py-0.5 last:pb-0">
        <%= link_to recipe.title, recipe_path(recipe), class: "text-sea-800 hover:text-sea-300 hover:underline" %>
        <%= link_to t('.link_delete'), recipe_path(recipe), method: :delete,
          class: "text-sm text-sand-500 text-right hover:text-sand-400 hover:underline" %>
      </li>
    <% end %>
  </ul>
</div>
