<h1 class="heading heading--form"><%= t('.heading') %></h1>

<%= form_with model: @unit, class: "form" do |f| %>
  <div class="form__main">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
