<div class="form-container">
  <h1 class="heading"><%= t('.heading') %></h1>

  <%= form_with model: @unit do |f| %>
    <div class="form-grid">
      <div class="mb-6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <%= f.submit class: "button button--primary button--xl" %>
  <% end %>
</div>
