<h2 class="heading heading--form">
  <%= t('.heading', title: @recipe.title) %>
</h2>

<%= form_with model: @measure, url: [@recipe, @measure], class: "form" do |f| %>
  <div class="form__main">
    <div>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, step: 0.125 %>
    </div>

    <div>
      <%= f.label :unit %>
      <%= f.collection_select :unit_id, Unit.all.alphabetize, :id, :name, { include_blank: true } %>
    </div>

    <div>
      <%= f.label :ingredient %>
      <%= f.collection_select :ingredient_id, Ingredient.all.alphabetize, :id, :name %>
    </div>
  </div>

  <%= f.submit %>
<% end %>
