<%= form_with model: @measure, url: [@recipe, @measure], class: "form" do |f| %>
  <h2 class="form__header">Add an ingredient for <%= @recipe.title %></h2>

  <div class="form__grid">
    <div>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, step: 0.125 %>
    </div>

    <div>
      <%= f.label :unit %>
      <%= f.collection_select :unit_id, Unit.all.alphabetize, :id, :name, { include_blank: true } %>
    </div>

    <div>
      <%= f.label :ingredient %>
      <%= f.select :ingredient_id, options_for_select(Ingredient.all.collect { |i| [ i.name, i.id ] }) %>
    </div>
  </div>

  <%= f.submit "Add ingredient" %>
<% end %>
