<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | Neo's Tree" : "Neo's Tree | All your recipes in one place" %></title>

    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen text-stone-900">
    <% if flash.any? %>
      <div class="mb-6">
        <%= render "shared/flashes", flash_type: :notice, color: "sea" %>
        <%= render "shared/flashes", flash_type: :alert, color: "berries" %>
      </div>
    <% end %>
    <div class="flex-grow">
      <div class="max-w-6xl mx-auto px-4 sm:px-12 lg:px-16">
        <div class="max-w-3xl mx-auto">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="mt-16">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
