<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | Neo's Tree" : "Neo's Tree" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen text-stone-900">
    <div class="mb-6">
      <%= render "shared/navbar" %>
      <%= render "shared/flashes" %>
    </div>
    <div class="flex-grow">
      <div class="max-w-6xl mx-auto px-4 sm:px-12 lg:px-16">
        <div class="max-w-3xl mx-auto">
          <%= yield %>
        </div>
      </div>
    </div>
    <div class="mt-16">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
