<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | Neo's Tree" : "Neo's Tree | All your recipes in one place" %></title>

    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render "shared/meta_social_tags" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen text-stone-900">
    <%= render "shared/navbar" %>
    <% if flash.any? %>
      <div class="absolute w-full mt-16 sm:mt-20">
        <%= render "shared/flashes", flash_type: :notice,
                                     background: "bg-sea-200",
                                     background_modifier: "bg-sea-100",
                                     text_color: "text-sea-900" %>
        <%= render "shared/flashes", flash_type: :alert,
                                     background: "bg-berries-200",
                                     background_modifier: "bg-berries-100",
                                     text_color: "text-berries-900" %>
      </div>
    <% end %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
