<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) + " | Neo's Tree" : "Neo's Tree | All your recipes in one place" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png" %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="flex flex-col h-screen text-stone-900">
    <%= render "shared/navbar" %>
    <% if notice || alert %>
      <div class="absolute w-full mt-16">
        <%= render "shared/flashes" %>
      </div>
    <% end %>
    <div class="flex-grow">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
